html{
    background-color: black;
    
}
a{
    text-decoration: none;
}
a:visited,a:link{
    color:white;
}
ul{
    list-style: none;
}
.mono_footer{
    border-top: 1px solid white;
    text-align: center;
    color:white;
    font-size: 13px;
}
.mono_head{
    text-align: center;
    font-size: 50px;
    color: white;
    width: 100%;
    font-family: 'DM Serif Display', serif;
}
.mono_head b{
    font-style: italic;
}

#images{
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    
}

#images:hover{
    box-shadow: 0 0 5px #ccc;
    transition: 0.1s;
}
li:hover{
    transition: 0.15s;
    text-decoration: underline;
    background: #222;
    cursor: pointer;
}
.mono_main {
    text-align: center;
    font-size: 45px;
    width: 100%;
    font-family: 'DM Serif Display', serif;
}
.mono_main2{
    display: flex;
    justify-content: center;
    color: #fff;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
  
}
.mono_main2 p{
    font-size: 28px;
}
.list{
    text-align: center;
    font-size: 45px;
}
.list a{
    padding: 60px 0;
}
.list li{
    padding: 60px 0;
}
.list li:hover{
    text-decoration: underline;
}

.a1,.a2,.a3{
    color: white;
}
h2{
    font-size: 20px;
}
h1{
    font-size: 30px;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 10px;
    font-size: 18px;
   
}
.a2{
    display: block;
    margin-top: 100px;
}

.info p{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.b h1{
    border: 1px solid white;
    padding: 5px 70px;
    display: inline-block;
    font-size: 16px;
}
#d1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 45px;
    border-top: 1px solid #fff;
    color: #fff;
}
#d1 p{
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.images{
    width: 50%;
    display: block;
    margin: 0 auto;
}
#selection {
    
    margin-left: 20px;
    box-sizing: border-box;
    background-color: #555;
    color: white;
    vertical-align: middle;
    padding-left: 5px;
    width: 500px;
    height: 50px;
    font-size: 18px;
}
#option{
    font-size: small;
    color:#555;
}
#files{
    margin-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    color: black;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 5px;
    width: 500px;
    height: 50px;
    background-color: #fff;
}
#buy{
    margin-top: 20px;
    margin-left: 20px;
    background: #3a8afd;
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid #1c70e9;
    color: white;
}